Enterprise Systems/Assessments/A3/WindowsFormAppLibrarySystem/Controller/Connected Services/ServiceReferenceLibrarySystem/WebServiceLibrarySystem.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllUsers">
        <s:complexType />
      </s:element>
      <s:element name="GetAllUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllUsersResult" type="tns:ArrayOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserLevel" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidateLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userNameInput" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwordInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateLoginResult" type="tns:UserType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="UserType">
        <s:restriction base="s:string">
          <s:enumeration value="NoUser" />
          <s:enumeration value="Student" />
          <s:enumeration value="StaffOrAdmin" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CreateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userLevel" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userLevel" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAllBooks">
        <s:complexType />
      </s:element>
      <s:element name="GetAllBooksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllBooksResult" type="tns:ArrayOfBook" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBook">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Book">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ISBN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BookName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Author" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Category" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Language" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PublishYear" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Publisher" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Pages" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindBookByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindBookByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindBookByNameResult" type="tns:ArrayOfBook" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindBookByAuthor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindBookByAuthorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindBookByAuthorResult" type="tns:ArrayOfBook" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindBookByCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindBookByCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindBookByCategoryResult" type="tns:ArrayOfBook" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bookName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="publishYear" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pages" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="publisher" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateBookResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bookName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="originalBookName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBookResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bookName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBookResponse">
        <s:complexType />
      </s:element>
      <s:element name="FindBorrowByUserID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputUserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindBorrowByUserIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindBorrowByUserIDResult" type="tns:ArrayOfBorrow" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBorrow">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Borrow" nillable="true" type="tns:Borrow" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Borrow">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ISBN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BorrowDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ReturnDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ActualReturnDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LateFee" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="BorrowBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bookName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BorrowBookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BorrowBookResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bookName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnBookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReturnBookResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindReservedByUserID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputUserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindReservedByUserIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindReservedByUserIDResult" type="tns:ArrayOfReserved" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReserved">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Reserved" nillable="true" type="tns:Reserved" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Reserved">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ISBN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReservedDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReserveBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bookName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReserveBookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReserveBookResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllLanguages">
        <s:complexType />
      </s:element>
      <s:element name="GetAllLanguagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllLanguagesResult" type="tns:ArrayOfLanguage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLanguage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Language" nillable="true" type="tns:Language" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Language">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LanguageName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateLanguage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="languageName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateLanguageResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateLanguage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="languageName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="languageID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLanguageResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteLanguage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="languageID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteLanguageResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAllCategories">
        <s:complexType />
      </s:element>
      <s:element name="GetAllCategoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCategoriesResult" type="tns:ArrayOfCategory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCategory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Category">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CategoryName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="categoryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateCategoryResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="categoryID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="categoryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCategoryResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="categoryID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCategoryResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAllAuthors">
        <s:complexType />
      </s:element>
      <s:element name="GetAllAuthorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllAuthorsResult" type="tns:ArrayOfAuthor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAuthor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Author" nillable="true" type="tns:Author" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Author">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthorName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateAuthor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authorName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateAuthorResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateAuthor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authorName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="authorID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAuthorResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteAuthor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="authorID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAuthorResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateLoginSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateLogin" />
  </wsdl:message>
  <wsdl:message name="ValidateLoginSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateLoginResponse" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllBooksSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllBooks" />
  </wsdl:message>
  <wsdl:message name="GetAllBooksSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllBooksResponse" />
  </wsdl:message>
  <wsdl:message name="FindBookByNameSoapIn">
    <wsdl:part name="parameters" element="tns:FindBookByName" />
  </wsdl:message>
  <wsdl:message name="FindBookByNameSoapOut">
    <wsdl:part name="parameters" element="tns:FindBookByNameResponse" />
  </wsdl:message>
  <wsdl:message name="FindBookByAuthorSoapIn">
    <wsdl:part name="parameters" element="tns:FindBookByAuthor" />
  </wsdl:message>
  <wsdl:message name="FindBookByAuthorSoapOut">
    <wsdl:part name="parameters" element="tns:FindBookByAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="FindBookByCategorySoapIn">
    <wsdl:part name="parameters" element="tns:FindBookByCategory" />
  </wsdl:message>
  <wsdl:message name="FindBookByCategorySoapOut">
    <wsdl:part name="parameters" element="tns:FindBookByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="CreateBookSoapIn">
    <wsdl:part name="parameters" element="tns:CreateBook" />
  </wsdl:message>
  <wsdl:message name="CreateBookSoapOut">
    <wsdl:part name="parameters" element="tns:CreateBookResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateBookSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateBook" />
  </wsdl:message>
  <wsdl:message name="UpdateBookSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateBookResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteBookSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteBook" />
  </wsdl:message>
  <wsdl:message name="DeleteBookSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteBookResponse" />
  </wsdl:message>
  <wsdl:message name="FindBorrowByUserIDSoapIn">
    <wsdl:part name="parameters" element="tns:FindBorrowByUserID" />
  </wsdl:message>
  <wsdl:message name="FindBorrowByUserIDSoapOut">
    <wsdl:part name="parameters" element="tns:FindBorrowByUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="BorrowBookSoapIn">
    <wsdl:part name="parameters" element="tns:BorrowBook" />
  </wsdl:message>
  <wsdl:message name="BorrowBookSoapOut">
    <wsdl:part name="parameters" element="tns:BorrowBookResponse" />
  </wsdl:message>
  <wsdl:message name="ReturnBookSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnBook" />
  </wsdl:message>
  <wsdl:message name="ReturnBookSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnBookResponse" />
  </wsdl:message>
  <wsdl:message name="FindReservedByUserIDSoapIn">
    <wsdl:part name="parameters" element="tns:FindReservedByUserID" />
  </wsdl:message>
  <wsdl:message name="FindReservedByUserIDSoapOut">
    <wsdl:part name="parameters" element="tns:FindReservedByUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="ReserveBookSoapIn">
    <wsdl:part name="parameters" element="tns:ReserveBook" />
  </wsdl:message>
  <wsdl:message name="ReserveBookSoapOut">
    <wsdl:part name="parameters" element="tns:ReserveBookResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllLanguagesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllLanguages" />
  </wsdl:message>
  <wsdl:message name="GetAllLanguagesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllLanguagesResponse" />
  </wsdl:message>
  <wsdl:message name="CreateLanguageSoapIn">
    <wsdl:part name="parameters" element="tns:CreateLanguage" />
  </wsdl:message>
  <wsdl:message name="CreateLanguageSoapOut">
    <wsdl:part name="parameters" element="tns:CreateLanguageResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateLanguageSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateLanguage" />
  </wsdl:message>
  <wsdl:message name="UpdateLanguageSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateLanguageResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteLanguageSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteLanguage" />
  </wsdl:message>
  <wsdl:message name="DeleteLanguageSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteLanguageResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllCategoriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCategories" />
  </wsdl:message>
  <wsdl:message name="GetAllCategoriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="CreateCategorySoapIn">
    <wsdl:part name="parameters" element="tns:CreateCategory" />
  </wsdl:message>
  <wsdl:message name="CreateCategorySoapOut">
    <wsdl:part name="parameters" element="tns:CreateCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCategorySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCategory" />
  </wsdl:message>
  <wsdl:message name="UpdateCategorySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCategorySoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCategory" />
  </wsdl:message>
  <wsdl:message name="DeleteCategorySoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllAuthorsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllAuthors" />
  </wsdl:message>
  <wsdl:message name="GetAllAuthorsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllAuthorsResponse" />
  </wsdl:message>
  <wsdl:message name="CreateAuthorSoapIn">
    <wsdl:part name="parameters" element="tns:CreateAuthor" />
  </wsdl:message>
  <wsdl:message name="CreateAuthorSoapOut">
    <wsdl:part name="parameters" element="tns:CreateAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAuthorSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAuthor" />
  </wsdl:message>
  <wsdl:message name="UpdateAuthorSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAuthorSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAuthor" />
  </wsdl:message>
  <wsdl:message name="DeleteAuthorSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAuthorResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceLibrarySystemSoap">
    <wsdl:operation name="GetAllUsers">
      <wsdl:input message="tns:GetAllUsersSoapIn" />
      <wsdl:output message="tns:GetAllUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateLogin">
      <wsdl:input message="tns:ValidateLoginSoapIn" />
      <wsdl:output message="tns:ValidateLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input message="tns:CreateUserSoapIn" />
      <wsdl:output message="tns:CreateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input message="tns:UpdateUserSoapIn" />
      <wsdl:output message="tns:UpdateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input message="tns:DeleteUserSoapIn" />
      <wsdl:output message="tns:DeleteUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <wsdl:input message="tns:GetAllBooksSoapIn" />
      <wsdl:output message="tns:GetAllBooksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindBookByName">
      <wsdl:input message="tns:FindBookByNameSoapIn" />
      <wsdl:output message="tns:FindBookByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindBookByAuthor">
      <wsdl:input message="tns:FindBookByAuthorSoapIn" />
      <wsdl:output message="tns:FindBookByAuthorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindBookByCategory">
      <wsdl:input message="tns:FindBookByCategorySoapIn" />
      <wsdl:output message="tns:FindBookByCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateBook">
      <wsdl:input message="tns:CreateBookSoapIn" />
      <wsdl:output message="tns:CreateBookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <wsdl:input message="tns:UpdateBookSoapIn" />
      <wsdl:output message="tns:UpdateBookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <wsdl:input message="tns:DeleteBookSoapIn" />
      <wsdl:output message="tns:DeleteBookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindBorrowByUserID">
      <wsdl:input message="tns:FindBorrowByUserIDSoapIn" />
      <wsdl:output message="tns:FindBorrowByUserIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BorrowBook">
      <wsdl:input message="tns:BorrowBookSoapIn" />
      <wsdl:output message="tns:BorrowBookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnBook">
      <wsdl:input message="tns:ReturnBookSoapIn" />
      <wsdl:output message="tns:ReturnBookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindReservedByUserID">
      <wsdl:input message="tns:FindReservedByUserIDSoapIn" />
      <wsdl:output message="tns:FindReservedByUserIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReserveBook">
      <wsdl:input message="tns:ReserveBookSoapIn" />
      <wsdl:output message="tns:ReserveBookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLanguages">
      <wsdl:input message="tns:GetAllLanguagesSoapIn" />
      <wsdl:output message="tns:GetAllLanguagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateLanguage">
      <wsdl:input message="tns:CreateLanguageSoapIn" />
      <wsdl:output message="tns:CreateLanguageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLanguage">
      <wsdl:input message="tns:UpdateLanguageSoapIn" />
      <wsdl:output message="tns:UpdateLanguageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLanguage">
      <wsdl:input message="tns:DeleteLanguageSoapIn" />
      <wsdl:output message="tns:DeleteLanguageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <wsdl:input message="tns:GetAllCategoriesSoapIn" />
      <wsdl:output message="tns:GetAllCategoriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateCategory">
      <wsdl:input message="tns:CreateCategorySoapIn" />
      <wsdl:output message="tns:CreateCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCategory">
      <wsdl:input message="tns:UpdateCategorySoapIn" />
      <wsdl:output message="tns:UpdateCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <wsdl:input message="tns:DeleteCategorySoapIn" />
      <wsdl:output message="tns:DeleteCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAuthors">
      <wsdl:input message="tns:GetAllAuthorsSoapIn" />
      <wsdl:output message="tns:GetAllAuthorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateAuthor">
      <wsdl:input message="tns:CreateAuthorSoapIn" />
      <wsdl:output message="tns:CreateAuthorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthor">
      <wsdl:input message="tns:UpdateAuthorSoapIn" />
      <wsdl:output message="tns:UpdateAuthorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthor">
      <wsdl:input message="tns:DeleteAuthorSoapIn" />
      <wsdl:output message="tns:DeleteAuthorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceLibrarySystemSoap" type="tns:WebServiceLibrarySystemSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLogin">
      <soap:operation soapAction="http://tempuri.org/ValidateLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <soap:operation soapAction="http://tempuri.org/GetAllBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindBookByName">
      <soap:operation soapAction="http://tempuri.org/FindBookByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindBookByAuthor">
      <soap:operation soapAction="http://tempuri.org/FindBookByAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindBookByCategory">
      <soap:operation soapAction="http://tempuri.org/FindBookByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBook">
      <soap:operation soapAction="http://tempuri.org/CreateBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <soap:operation soapAction="http://tempuri.org/UpdateBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <soap:operation soapAction="http://tempuri.org/DeleteBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindBorrowByUserID">
      <soap:operation soapAction="http://tempuri.org/FindBorrowByUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrowBook">
      <soap:operation soapAction="http://tempuri.org/BorrowBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnBook">
      <soap:operation soapAction="http://tempuri.org/ReturnBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindReservedByUserID">
      <soap:operation soapAction="http://tempuri.org/FindReservedByUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReserveBook">
      <soap:operation soapAction="http://tempuri.org/ReserveBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLanguages">
      <soap:operation soapAction="http://tempuri.org/GetAllLanguages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLanguage">
      <soap:operation soapAction="http://tempuri.org/CreateLanguage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLanguage">
      <soap:operation soapAction="http://tempuri.org/UpdateLanguage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLanguage">
      <soap:operation soapAction="http://tempuri.org/DeleteLanguage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <soap:operation soapAction="http://tempuri.org/GetAllCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCategory">
      <soap:operation soapAction="http://tempuri.org/CreateCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCategory">
      <soap:operation soapAction="http://tempuri.org/UpdateCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <soap:operation soapAction="http://tempuri.org/DeleteCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAuthors">
      <soap:operation soapAction="http://tempuri.org/GetAllAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAuthor">
      <soap:operation soapAction="http://tempuri.org/CreateAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthor">
      <soap:operation soapAction="http://tempuri.org/UpdateAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthor">
      <soap:operation soapAction="http://tempuri.org/DeleteAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceLibrarySystemSoap12" type="tns:WebServiceLibrarySystemSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsers">
      <soap12:operation soapAction="http://tempuri.org/GetAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLogin">
      <soap12:operation soapAction="http://tempuri.org/ValidateLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="http://tempuri.org/CreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap12:operation soapAction="http://tempuri.org/DeleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <soap12:operation soapAction="http://tempuri.org/GetAllBooks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindBookByName">
      <soap12:operation soapAction="http://tempuri.org/FindBookByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindBookByAuthor">
      <soap12:operation soapAction="http://tempuri.org/FindBookByAuthor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindBookByCategory">
      <soap12:operation soapAction="http://tempuri.org/FindBookByCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBook">
      <soap12:operation soapAction="http://tempuri.org/CreateBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <soap12:operation soapAction="http://tempuri.org/UpdateBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <soap12:operation soapAction="http://tempuri.org/DeleteBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindBorrowByUserID">
      <soap12:operation soapAction="http://tempuri.org/FindBorrowByUserID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrowBook">
      <soap12:operation soapAction="http://tempuri.org/BorrowBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnBook">
      <soap12:operation soapAction="http://tempuri.org/ReturnBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindReservedByUserID">
      <soap12:operation soapAction="http://tempuri.org/FindReservedByUserID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReserveBook">
      <soap12:operation soapAction="http://tempuri.org/ReserveBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLanguages">
      <soap12:operation soapAction="http://tempuri.org/GetAllLanguages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLanguage">
      <soap12:operation soapAction="http://tempuri.org/CreateLanguage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLanguage">
      <soap12:operation soapAction="http://tempuri.org/UpdateLanguage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLanguage">
      <soap12:operation soapAction="http://tempuri.org/DeleteLanguage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <soap12:operation soapAction="http://tempuri.org/GetAllCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCategory">
      <soap12:operation soapAction="http://tempuri.org/CreateCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCategory">
      <soap12:operation soapAction="http://tempuri.org/UpdateCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <soap12:operation soapAction="http://tempuri.org/DeleteCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAuthors">
      <soap12:operation soapAction="http://tempuri.org/GetAllAuthors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAuthor">
      <soap12:operation soapAction="http://tempuri.org/CreateAuthor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthor">
      <soap12:operation soapAction="http://tempuri.org/UpdateAuthor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthor">
      <soap12:operation soapAction="http://tempuri.org/DeleteAuthor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceLibrarySystem">
    <wsdl:port name="WebServiceLibrarySystemSoap" binding="tns:WebServiceLibrarySystemSoap">
      <soap:address location="https://localhost:44341/WebServiceLibrarySystem.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceLibrarySystemSoap12" binding="tns:WebServiceLibrarySystemSoap12">
      <soap12:address location="https://localhost:44341/WebServiceLibrarySystem.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>